* {
  background-color: silver;
}

.heading {
  color: black;
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: none;
  background-color: #b7b7a4;
}
.options {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
}
.options h6 {
  padding: 20px;
  cursor: pointer;
  border-radius: 12px;
  background-color: #ade8f4;
  font-weight: 700;
}

.btn-clicked {
  border: 2px solid #370617;
  color: rgb(102, 48, 4);
}

@media only screen and (max-width: 600px) {
  .heading {
    padding: 18px;
  }
  .options {
    padding: 18px;
  }
}

@media only screen and (max-width: 300px) {
  .heading {
    padding: 15px;
  }
  .options {
    padding: 15px;
  }
}
